#!/bin/bash
# Every plugin needs to have:
# - A help method describing what the plugin does
# - An execute method that will have the logic of the plugin, or any other method
#   that will be called by name, with all the parameters passed to the plugin
#
# If the plugin provides different functions, they can be called by name.
# As an example:
#   myplugin.plugin description
#
#   myplugin.plugin add-user <username> <role>
#
#   myplugin.plugin execute
#

function new-plugin.help {
   # Select either of the two or both, depending on the functionality provided by the plugin
   echo "  oc-cluster --new-plugin: This plugin does ..."
   echo "  oc-cluster new-plugin-method"
}

# This method does not receive arguments
#
#
function new-plugin.execute {
  echo "This code will be execute when calling this plugin"
}

# The parameters to the plugin will be passed to this function
#
#
function method {
  echo "Here goes all the action"
}
