{
  "bindMounts": [
    {
      "imagePattern": "openshift/wildfly.*",
      "mounts": [
        {
          "source": "$M2_HOME/repository",
          "destination": "/opt/app-root/src/.m2/repository"
        }
      ]
    },
    {
      "imagePattern": "jorgemoralespou/s2i-java.*",
      "mounts": [
        {
          "source": "$M2_HOME/repository",
          "destination": "/opt/app-root/src/.m2/repository"
        }
      ]
    },
    {
      "imagePattern": ".*openjdk18-openshift.*",
      "mounts": [
        {
          "source": "$M2_HOME/repository",
          "destination": "/opt/app-root/src/.m2/repository"
        }
      ]
    },
    {
      "imagePattern": "registry.access.redhat.com/jboss-fuse-6/.*",
      "mounts": [
        {
          "source": "$M2_HOME/repository",
          "destination": "/home/jboss/.m2/repository"
        }
      ]
    },
    {
      "imagePattern": "registry.access.redhat.com/jboss-webserver-3/.*",
      "mounts": [
        {
          "source": "$M2_HOME/repository",
          "destination": "/home/jboss/.m2/repository"
        }
      ]
    },
    {
      "imagePattern": "registry.access.redhat.com/jboss-eap-7/.*",
      "mounts": [
        {
          "source": "$M2_HOME/repository",
          "destination": "/home/jboss/.m2/repository"
        }
      ]
    },
    {
      "imagePattern": "openshift/origin-sti-builder.*",
      "env": [
        {
          "name": "DOCKER_HOST",
          "value": "tcp://$IP:2375"
        }
      ]
    },
    {
      "imagePattern": "(openshift/origin$)|(openshift/origin:.*)",
      "mounts": [
        {
          "source": "$OPENSHIFT_BINARY",
          "destination": "/usr/bin/openshift"
        }
      ]
    },
    {
      "imagePattern": "openshift/origin-deployer.*",
      "mounts": [
        {
          "source": "$OPENSHIFT_BINARY",
          "destination": "/usr/bin/openshift"
        }
      ]
    },
    {
      "imagePattern": "openshift/origin-recycler.*",
      "mounts": [
        {
          "source": "$OPENSHIFT_BINARY",
          "destination": "/usr/bin/openshift"
        }
      ]
    },
    {
      "imagePattern": "openshift/origin-docker-builder.*",
      "mounts": [
        {
          "source": "$OPENSHIFT_BINARY",
          "destination": "/usr/bin/openshift"
        }
      ]
    },
    {
      "imagePattern": "openshift/origin-sti-builder.*",
      "mounts": [
        {
          "source": "$OPENSHIFT_BINARY",
          "destination": "/usr/bin/openshift"
        }
      ]
    },
    {
      "imagePattern": "openshift/origin-f5-router.*",
      "mounts": [
        {
          "source": "$OPENSHIFT_BINARY",
          "destination": "/usr/bin/openshift"
        }
      ]
    },
    {
      "imagePattern": "openshift/node.*",
      "mounts": [
        {
          "source": "$OPENSHIFT_BINARY",
          "destination": "/usr/bin/openshift"
        }
      ]
    }
  ]
}
